parameters:
  ignoreErrors:
    - identifier: missingType.iterableValue
    - identifier: missingType.generics
    - '#^Method PlanB.*::normalize\(\) should return static\(.*\)\.#'
    - '#^Method PlanB.*::collect\(\) should return static\(.*\)\.#'
    - '#^Method PlanB.*::fromCartesian\(\) should return static\(.*\)\.#'
    - '#^Method PlanB.*::tryFrom\(\) should return static\(.*\)\.#'
